body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  margin-bottom: 20px;
}

h1 {
  font-size: 64px;
  color: #4C86A8;
  margin: 0 auto;
}

.logomarca {
  max-width: 200px;
  max-height: auto;
  margin: 0 auto;
}

main {
  width: 80%;
  margin: 0 auto; 
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 20px;
  border: 1px solid #00a4f7;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #50a8d4;
  color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

/*
button:hover {
  background-color: #0072ac;
  border-color: #50a8d4;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
*/

#resultado {
  margin: 10px auto; 
  padding: 10px;
  font-size: 75px;
  color: #00a4f7;
  border: 1px solid #dadada;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 80%;
  overflow: hidden;
  /* animation: fadeIn 3s ease-in-out;*/
}

#nomesanteriores {
  display: flex;
  flex-wrap: wrap;

  margin: 10px auto; 
  padding: 10px;
  font-size: 18px;
  color: #a0a0a0;
  border: 1px solid #dadada;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 80%;
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #477890;
  padding: 10px 0;
  color: #fff;
  border-color: #0b2e3f;
}

footer img {
  vertical-align: middle;
  margin-right: 5px;
  max-width: 50px;
  max-height: auto;
}

hr {
  width: 80%;
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 20px auto;
}
